<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="bower_components/angular/angular-csp.css">
  <script src="bower_components/service-turtle/turtle.js"></script>
  <title>github-user</title>
  <style>
    .info {
      white-space: pre;
      padding: 10px;
      margin-top: 1em;
      background-color: #eee;
      border-radius: 5px;
      font-family: monospace;
      border: 1px solid #ddd;
    }
  </style>
</head>

<body>
  <h1>github-user</h1>
  <p>Read <a href="http://bahmutov.calepin.co/robustness-testing-using-proxies.html">Robustness testing using proxies</a></p>

  <div ng-app="GithubUser" ng-controller="GithubUserController" ng-cloak>
    <input ng-model="username" /> <button id="load" ng-click="load()">Load user info</button>
    <div class="info" ng-show="info">{{ info | json }}</div>
  </div>

  <script src="bower_components/angular/angular.js"></script>
  <script>
    angular.module('GithubUser', [])
      .controller('GithubUserController', function ($scope, $http) {
        $scope.username = 'bahmutov';

        $scope.load = function () {
          if (!$scope.username) {
            return;
          }
          console.log('loading github user', $scope.username);
          $http.get('https://api.github.com/users/' + $scope.username)
            .then(function (response) {
              console.log(response.data);
              $scope.info = response.data;
            }, function (err) {
              $scope.info = 'Could not fetch info for user ' + $scope.username;
              console.error(err);
            });
        };
      });
  </script>
</body>
</html>
