<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>github-user</title>
  <script src="bower_components/angular/angular.js"></script>
</head>

<body ng-app="GithubUser" ng-controller="GithubUserController">
  <h1>github-user</h1>

  <div>
    <input ng-model="username" /> <button id="load" ng-click="load()">Load user info</button>
  </div>
  <div>
    {{ info | json }}
  </div>

  <script>
    angular.module('GithubUser', [])
      .controller('GithubUserController', function ($scope, $http) {
        $scope.load = function () {
          if (!$scope.username) {
            return;
          }
          console.log('loading github user', $scope.username);
        };
      });
  </script>
</body>
</html>
